.board {
  margin:20px auto;
  width:600px;
}
.row {
  clear:both;
  display:flex;
  height:200px;
}
.square {
  width:200px;
  height:200px;
  border:2px #000 solid;
  margin: auto;
  font-size:85pt;
  text-align:center;
  line-height:175px;
  font-family: 'Indie Flower', cursive;
  cursor:pointer;
}
.square.used {
  cursor:not-allowed;
}
.win {
  display:none;
}
.win H1 {
    font-family: 'Indie Flower', cursive;
    font-size:100pt;
    text-align:center;
    margin-top:0;
    padding-top:0;
}
.win IMG {
  display:block;
  margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  bottom:0;
  margin:0 auto;
  max-width:70%;
  max-height:70%;
  position:fixed;
}
